<!-- <div id="content-card" [className]="isFirst ? 'content-card2px' : 'content-card'">
    <h4>{{ content.title }}</h4>
    <p>{{ content.description }}</p>
    <img class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
    By:<em><strong>{{ content.creator }}</strong> </em>
    <p>{{ content.tags }}</p>
</div> -->


<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-5">
        <input [(ngModel)]="searchTerm" placeholder="Enter title">
        <button (click)="search()">Search</button>
        <div *ngIf="message">
          <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
        </div>
  </div> 
      </div>
      <div class="col-md-2"></div>
    </div>
  
    <div class="row">
      <h2 class="m-5">Fire</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-warning text-dark" *ngFor="let item of contentArray | contentFilter:'Fire'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>
  
    <div class="row">
      <h2 class="m-5">Water</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-dark text-warning" *ngFor="let item of contentArray | contentFilter:'Water'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>

    <div class="row">
      <h2 class="m-5">Plant</h2>
      <app-content-card class="col-md-4  mt-5 mx-1 card bg-primary text-danger" *ngFor="let item of contentArray | contentFilter:'Plant'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-card>
    </div>