<!DOCTYPE html>

<!-- <div id="content-card" [className]="isFirst ? 'content-card2px' : 'content-card'">
    <h4>{{ content.title }}</h4>
    <p>{{ content.description }}</p>
    <img class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
    By:<em><strong>{{ content.creator }}</strong> </em>
    <p>{{ content.tags }}</p>
</div> -->


<!--<div *ngFor="let cards of card" class="shadow">
  <app-content-card [content]="cards"></app-content-card>
</div> -->

<!-- <app-create-content class="center" (addContentEvent)="addNewContent($event)"></app-create-content> -->

<!-- <app-modify-content></app-modify-content> -->


<app-modify-content (contentAdded)="addContentToList($event)"></app-modify-content>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Fire">
    <h3>Fire</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter:'Fire'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt="" >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://ae01.alicdn.com/kf/S641257d0c1c045c09bdc8c6a2be34f39g/10000PS-Arceus-Vmax-Pokemon-Cards-Metal-Spanish-Cards-Pikachu-Charizard-Vstar-Golden-Limited-Kids-Gift-Game.jpg_Q90.jpg_.webp"  alt="" >
        </mat-card-title-group>
      </mat-card-header>


      


      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
       
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>


        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>


      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Water">
    <h3>Water</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'Water'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""   >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://ae01.alicdn.com/kf/S641257d0c1c045c09bdc8c6a2be34f39g/10000PS-Arceus-Vmax-Pokemon-Cards-Metal-Spanish-Cards-Pikachu-Charizard-Vstar-Golden-Limited-Kids-Gift-Game.jpg_Q90.jpg_.webp"  alt=""  >
        </mat-card-title-group>

       



      </mat-card-header>

      


      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
        
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>

        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>


      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Plant">
    <h3>Plant</h3>
    <mat-card  [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentList | contentFilter: 'Plant'; index as i; first as First" [class.is-first]="First">
      <mat-card-header class="contentTitle">
        <mat-card-title-group>
          <mat-card-title class="Title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="Type" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</mat-card-subtitle>
          <img mat-card-md-image  *ngIf="item.imgURL" src="{{ item.imgURL }}" alt=""  >
          <img mat-card-md-image  *ngIf="!item.imgURL" src="https://ae01.alicdn.com/kf/S641257d0c1c045c09bdc8c6a2be34f39g/10000PS-Arceus-Vmax-Pokemon-Cards-Metal-Spanish-Cards-Pikachu-Charizard-Vstar-Golden-Limited-Kids-Gift-Game.jpg_Q90.jpg_.webp"  alt=""  >
        </mat-card-title-group>
      </mat-card-header>


      

      <mat-card-content>
        <p class="contentMembers">{{ item.creator }}</p>
       
        <ul *ngIf="item.tags">
          <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
            {{ tag }}
          </li>
        </ul>

        <mat-card-subtitle class="contentDetails"><a [routerLink]="['/content',item.id]" routerLinkActive="active">
          Content Details =>
        </a></mat-card-subtitle>

      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>



<!-- <app-create-content (contentCreated)="addNewContent($event)"></app-create-content> -->


