<!DOCTYPE html>


 <button mat-raised-button color="primary" (click)="openDialog()">Add New Content</button>



 



<!-- <!DOCTYPE html>
<div id="container">
<div>
  <hr>
    <label for="contentTitle">Content Title:</label>
    <mat-form-field>
      <input matInput [(ngModel)]="text" />
      </mat-form-field> -->
    <!-- <input type="text"[(ngModel)]="newContentItem.title"> -->
  <!-- </div>
  <br>
  <div>
    <label for="contentDescription">Content Description:</label>
    <input type="text"[(ngModel)]="newContentItem.description">
  </div>
  <br>
  <div>
    <label for="contentCreator">Content Creator:</label>
    <input type="text"[(ngModel)]="newContentItem.creator">
  </div>
  <br>
  <div>
    <label for="contentimgURL">Content Image:</label>
    <input type="text"[(ngModel)]="newContentItem.imgURL">
  </div>
  <br>
  <div>
    <label for="contentType">Content Type:</label>
    <input type="text" [(ngModel)]="newContentItem.type">
  </div>
  <br>
  <div>
    <label for="contentTags">Content Tags:</label>
    <input type="text"[(ngModel)]="newContentItem.tags">
  </div>
  <hr>
  <button type="submit" (click)="addContent()">Add Content</button>
</div> -->

<!-- <div id="container">
    <div>
        <label for="contentTitle">Content Title:</label>
        <input type="text"[(ngModel)]="title">
      </div>
      <br>
      <div>
        <label for="contentDescription">Content Description:</label>
        <input type="text"[(ngModel)]="description">
      </div>
      <br>
      <div>
        <label for="contentCreator">Content Creator:</label>
        <input type="text"[(ngModel)]="creator">
      </div>
      <br>
      <div>
        <label for="contentimgURL">Content Image:</label>
        <input type="text"[(ngModel)]="imgURL">
      </div>
      <br>
      <div>
        <label for="contentType">Content Type:</label>
        <input type="text" [(ngModel)]="type">
      </div>
      <br>
      <div>
        <label for="contentTags">Content Tags:</label>
        <input type="text"[(ngModel)]="tags">
      </div>
      <button (click)="addContent()">Add Content</button>
      <div style="color: red;" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div> -->
