.water {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform:uppercase;
}

.fire {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plant {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.image{
    width: 30%;
    margin-left: 10%;
}
#content-card{
    border: 1px solid black;
    margin-bottom: 20px;
    width:30%;
    margin-left: 20%;
    background-color: lightblue;
}
.isFirst{
    border: 10px solid black;
}