.water {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform:uppercase;
}

.fire {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plant {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}