
<div class="{{ content.type }}">
  <h2>{{ content.title }}</h2>
  <p>{{ content.description }}</p>
  <img *ngIf="content.imgURL;else defaultImage" class="image" src="{{ content.imgURL }}" (click)="imageText()"/><br>
  By:<em> {{ content.creator }}</em>
  <p>
    <span appHoverAffect highlightType="tag" *ngFor="let tag of content.tags"  >
      #{{ tag }}
    </span><!-- {{ content.tags }} -->
  </p>
  <p appHoverAffect highlightType="type" >Type: {{ content.type }}</p>
</div>
<ng-template #defaultImage>
  <img class="image" src="https://ae01.alicdn.com/kf/S641257d0c1c045c09bdc8c6a2be34f39g/10000PS-Arceus-Vmax-Pokemon-Cards-Metal-Spanish-Cards-Pikachu-Charizard-Vstar-Golden-Limited-Kids-Gift-Game.jpg_Q90.jpg_.webp
  " alt="default image">
</ng-template>

https://ae01.alicdn.com/kf/S641257d0c1c045c09bdc8c6a2be34f39g/10000PS-Arceus-Vmax-Pokemon-Cards-Metal-Spanish-Cards-Pikachu-Charizard-Vstar-Golden-Limited-Kids-Gift-Game.jpg_Q90.jpg_.webp













<!-- <div class="row">
    <div class="card" *ngFor="let items of contentList;" style="max-width: 20rem;">
        <div class="card-header">pokemon cards</div>
        <div class="card-body">
          <h4 class="card-title">{{ items.title }}</h4>
          <p class="card-text">{{ items.description }}</p>
          By:<em> {{ items.creator }}</em>
        </div>
      </div>
</div> -->


<!--
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5">
      
      
      <input [(ngModel)]="searchTerm" placeholder="Enter title">
      <button (click)="search()">Search</button>
      <div *ngIf="message">
        <p [ngStyle]="{ color: messageColor }">{{ message }}</p>
      </div>


</div> 
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <h2 class="m-5">water</h2>
    <app-content-list class="col-md-4  mt-5 mx-1 card bg-info text-warning water" *ngFor="let item of contentArray | contentFilter:'water'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
  </div>

  <div class="row">
    <h2 class="m-5">fire</h2>
    <app-content-list class="col-md-4  mt-5 mx-1 card bg-danger text-light fire" *ngFor="let item of contentArray | contentFilter:'fire'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
  </div>

  <div class="row">
    <h2 class="m-5">Plant</h2>
    <app-content-list class="col-md-4  mt-5 mx-1 card bg-success text-info plant" *ngFor="let item of contentArray | contentFilter:'Plant'; index as i; first as isFirst" [content]="item" [class.is-first]="isFirst"></app-content-list>
  </div>
-->

  
<!-- <div id="pokemonCards"></div> -->
