h2 {
    font-weight: 800;
    padding-bottom: 20px;
}

div {
    font-weight: 500;
    color: green;
    padding-bottom: 20px;
    text-align: center;
}

button {
    border-radius: 50px;
    background-color: salmon;
    color: white;
    font-weight: 600;
    width: 400px;
}

button:hover {
    background-color: white;
    color: salmon;
}